div {
  width: 400px;
  height: 200px;
  background-color: rgb(255, 191, 113);
  margin-top: 20px;
  border: 6px solid rgb(72, 110, 18);
}

.purple {
  background-color: rgb(81, 93, 111);
  width: 250px;
  height: 350px;
  margin-top: 25px;
  border: 2px solid black;
}

.blue {
  background-color: rgb(117, 73, 42);
  width: 300px;
  height: 200px;
  margin-top: 30px;
  border: 6px solid rgb(81, 56, 81);
}

.purple img {
  width: 250px;
}

.blue img {
  width: 300px;
}

.blue h3 {
  font-size: 20px;
  color: pink;
}

header {
  width: 100%;
  background-color: rgb(126, 94, 51);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color: rgb(255, 233, 172);
  font-size: 35px;
  text-decoration: none;
}

.block {
  background-color: rgb(61, 35, 3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.hidden-block {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: bisque;
  opacity: 0;
  display: flex;
  transition: 0.5s;
  transform: scale(0);
  align-items: center;
  justify-content: center;
}
#check:checked ~ .hidden-block {
  opacity: 100;
  transform: scale(1);
}